// Config
@import "./config/_variables.scss";
@import "./config/_reset.scss";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

// Components
@import "./components/_header.scss";

// Screens
@import "./screens/_home.scss";

// Defaults
a {
  color: inherit;
  text-decoration: none;
}

body {
  background-color: $bg;
  color: white;
  font-family: "Noto Sans KR", sans-serif;
}

main {
  padding: 50px 40px;
}
