// Config
@import "./config/_variables.scss";
@import "./config/_reset.scss";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

// Components
@import "./components/_header.scss";
@import "./components/_footer.scss";
@import "./components/_form.scss";
@import "./components/_video.scss";

// Screens
@import "./screens/_home.scss";
@import "./screens/_search.scss";
@import "./screens/_watch.scss";

// Defaults
* {
  box-sizing: border-box;
}

body {
  background-color: $bg;
  color: white;
  font-family: "Noto Sans KR", sans-serif;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  padding: 80px 40px;
  padding-bottom: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  h1 {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 40px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}
