.watch {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
  video {
    width: 80%;
  }
  .hiding {
    opacity: 0%;
    transition: opacity 0.5s ease-in-out;
  }
  #videoControls {
    position: absolute;
    bottom: 10px;
    width: 75%;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: rgba($color: $bg, $alpha: 0.8);
    display: grid;
    grid-template-columns: max-content 1fr 3fr max-content;
    gap: 20px;
    align-items: center;
    justify-items: center;
    transition: opacity 0.5s ease-in-out;
    #volume-container {
      width: 100%;
      display: grid;
      grid-template-columns: max-content 1fr;
      gap: 7px;
      justify-items: center;
      align-items: center;
      input {
        width: 100%;
      }
    }
    #timeline-container {
      width: 100%;
      display: grid;
      grid-template-columns: max-content 2fr;
      gap: 5px;
      justify-items: center;
      align-items: center;
      div:last-child {
        width: 100%;
        input {
          width: 100%;
        }
      }
    }
  }
}

.watch_about {
  width: 72%;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  .watch_owner {
    img {
      border-radius: 50%;
      width: 60px;
      height: 60px;
      object-fit: cover;
      margin-right: 10px;
    }
  }
  .watch_detail {
    width: 100%;
    display: flex;
    flex-direction: column;
    h3 {
      font-size: 30px;
      font-weight: 500;
      margin-bottom: 5px;
    }
    small {
      font-size: 13px;
      color: rgba($color: white, $alpha: 0.5);
    }
    a {
      color: #4d7db7;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.watch_description {
  width: 72%;
  display: grid;
  grid-template-columns: 70px;
  div {
    border-top: 1px solid rgba($color: white, $alpha: 0.3);
    grid-column-start: 2;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    p {
      font-size: 15px;
      font-weight: 200;
      margin-bottom: 30px;
    }
    a {
      color: #4d7db7;
      margin-bottom: 5px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
