.header {
  padding: 10px 15px;
  top: 0;
  position: fixed;
  width: 96vw;
  background-color: $bg;
  z-index: 1;
  box-shadow: 3px 3px 5px rgba($color: #000000, $alpha: 0.3);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header_home {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-items: center;
  align-items: center;
  gap: 7px;
}

.header_home i {
  justify-self: end;
  align-self: center;
  color: $red;
}

.header_home h1 {
  font-size: 25px;
  justify-self: start;
  align-self: center;
}

.header_list {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fit, max-content);
  justify-items: center;
  align-items: center;
  grid-column-start: 3;
  gap: 10px;
  li {
    font-size: 20px;
  }
}
