extends base


block content
    h5 Edit Video
    form(method="POST")
        input(name="title" value=video.title required type="text" placeholder="Video Title" max-length=30)
        input(name="description" value=video.description required type="text" placeholder="Description" min-length=20)
        input(name="hashtags" value=video.hashtags.join() required type="text" placeholder="Hashtags, seperated by comma")
        input(value="save" type="submit")