extends base


block content
    div.inputs
        if errorMessage
            div.error
                span=errorMessage
        form(method="POST").form
            div.form_content
                label(for="title", id="title") Title
                input(name="title" value=video.title required type="text" placeholder="Video Title" max-length=30)
            div.form_content
                label(for="description", id="description") Description
                input(name="description" value=video.description required type="text" placeholder="Description")
            div.form_content
                label(for="hashtags", id="hashtags") Hashtags
                input(name="hashtags" value=video.hashtags.join() required type="text" placeholder="Hashtags, seperated by comma")
            input(value="Save" type="submit").form_submit