extends base

block content
    div.inputs
        if errorMessage
            div.error
                span=errorMessage
        form(method="POST").form
            div.form_content
                input(name="oldPassword", type="password", required, placeholder="Old Password")
            div.form_content
                input(name="newPassword", type="password", required, placeholder="New Password")
            div.form_content
                input(name="newPasswordConfirm", type="password", required, placeholder="New Password Confirm")
            input(value="Edit Password", type="submit").form_submit