extends base
include mixins/video

block content
    .inputs 
        form(method="GET").form--search
            div.form_content
                input(name="keyword", placeholder="Search By Title", type="text")
            input(type="submit", value="Search").form_submit
    div.search_res
        ul.videos
            each video in videos 
                +video(video,video.owner.avatar)