extends base.pug


block content
    h3 Upload Video
    if errorMessage
        span=errorMessage
    form(method="POST", enctype="multipart/form-data")
        label(for="video") Video File 
        input(type="file", accept="video/*", required, id="video", name="video")
        input(name="title" required type="text" placeholder="Video Title" max-length=30)
        input(name="description" required type="text" placeholder="Description")
        input(name="hashtags" required type="text" placeholder="Hashtags, seperated by comma")
        input(value="Upload Video" type="submit")