extends base.pug
include mixins/video

block content
    video(src="/" + video.fileUrl, controls, width="300px")
    div
        +video(video)
    a(href=`${video.id}/edit`) Edit Video &rarr;
    br
    a(href=`${video.id}/delete`) Delete Video &rarr;