header.header
    nav.navbar
        a(href="/").header_home
            i.fab.fa-youtube.fa-2x
            h1 Wetube
        ul.header_list
            if !loggedIn
                li
                    a(href="/join") Join
                li
                    a(href="/login") Login
            else
                li 
                    a(href="/users/edit") Edit Profile
                li 
                    a(href="/users/logout") Logout
                li 
                    a(href=`/users/${loggedInUser._id}`) #{loggedInUser.name}
            li
                a(href="/search") Search
            li
                a(href="/videos/upload") Upload Video